{% extends 'bootstrap/base.html' %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://127.0.0.1:5000/home">Covid19 Modelling</a>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <section id="start" class="content-section text-center">
      <div class="container">
        <div class="row">
            <h2>Parameters for Covid19 Modelling:</h2>
        </div>
      </div>
    </section>
    
    <section id="form" class="content-section text-center">
        <div class="container">
            <div class="row">
                <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.country.label }}<br>
                        {{ form.country_name(size=32) }}
                    </p>
                    <p>
                        {{ form.population.label }}<br>
                        {{ form.population(size=32) }}
                    </p>
                    <p>
                        {{ form.age_dist.label }}<br>
                        {{ form.age_dist(size=32) }}
                    </p>
                    <p>
                        {{ form.init_cases.label }}<br>
                        {{ form.init_cases(size=32) }}
                    </p>
                    <p>
                        {{ form.imports.label }}<br>
                        {{ form.imports(size=32) }}
                    </p>
                    <p>
                        {{ form.hosp_beds.label }}<br>
                        {{ form.hosp_beds(size=32) }}
                    </p>
                    <p>
                        {{ form.icu.label }}<br>
                        {{ form.icu(size=32) }}
                    </p>
                    <p>
                        {{ form.confirmed_cases.label }}<br>
                        {{ form.confirmed_cases(size=32) }}
                    </p>
                    <p>
                        {{ form.sim_range.label }}<br>
                        {{ form.sim_range(size=32) }}
                    </p>
                    <p>
                        {{ form.avg_ro.label }}<br>
                        {{ form.avg_ro(size=32) }}
                    </p>
                    <p>
                        {{ form.latency.label }}<br>
                        {{ form.latency(size=32) }}
                    </p>
                    <p>
                        {{ form.infect_period.label }}<br>
                        {{ form.infect_period(size=32) }}
                    </p>
                    <p>
                        {{ form.seasonal_forcing.label }}<br>
                        {{ form.seasonal_forcing(size=32) }}
                    </p>
                    <p>
                        {{ form.seasonal_forcing.label }}<br>
                        {{ form.seasonal_forcing(size=32) }}
                    </p>
                    <p>
                        {{ form.seasonal_peak.label }}<br>
                        {{ form.seasonal_peak(size=32) }}
                    </p>
                    <p>
                        {{ form.hosp_stay.label }}<br>
                        {{ form.hosp_stay(size=32) }}
                    </p>
                    <p>
                        {{ form.icu_stay.label }}<br>
                        {{ form.icu_stay(size=32) }}
                    </p>
                    <p>
                        {{ form.severity_overflow.label }}<br>
                        {{ form.severity_overflow(size=32) }}
                    </p>
                    <p>
                        {{ form.submit() }}
                    </p>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
